.detail {
  margin: 5rem 0;
}

@media (min-width: 768px) {
  .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5rem;
    height: 100vh;
  }
  .detail__image {
    max-width: 50rem;
  }
}

.detail__title {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: 1rem 0;
}

.detail__description {
  font-size: 2.5rem;
  line-height: 1.3;
  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detail__finish_buy {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  color: var(--white-color);
  padding: 1.3rem 1rem;
  border: none;
  display: inline-block;
  color: var(--black);
}